<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

        {# pure.css #}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/buttons-min.css">
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/forms-min.css">
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/tables-min.css">

        <title>
            {%block title%}{%endblock%}
        </title>
    {% endblock %}
</head>

<body>
    <header>
        {% block header %}
            {% set nav_menu_items = [
                ('Departments', url_for('departments')),
                ('Employees', url_for('employees'))
                ]
            %}
            <ul>
                {% for caption, url in nav_menu_items %}
                    <li {% if request.path == url %} class="current" {% endif %} >
                        <a href="{{ url }}">
                            {{ caption }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endblock %}
    </header>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        {% block footer %}
            Footer
        {% endblock %}
    </footer>
</body>
</html>