{% extends "base.html" %}
{% block title %}Employee{% endblock %}

{% block content %}
    {{ super() }}
    <h2>{{ employee.name }}</h2>
    <a href="{{ url_for("employee_edit", emp_id=id) }}">Edit</a>

    <table class="pure-table pure-table-bordered">
            <thead>
                <tr>
                    <th>Department</th>
                    <th>Salary</th>
                    <th>Birth Date</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td><a href="{{ url_for('department', department_id=employee.department_id) }}">{{ employee.department_id }}</a></td>
                        <td>{{ employee.salary }}</td>
                        <td>{{ employee.date_of_birth }}</td>
                    </tr>
            </tbody>
        </table>
{% endblock %}