{% extends "base.html" %}

{% from 'helpers.html' import render_field%}

{% block title %}Edit Employee{% endblock %}

{% block content %}
    {{ super() }}
    <a href="{{ url_for("employee", employee_id=id) }}">Back</a>

    {% if employee %}
        <p>{{ employee.name }}</p>
    {% endif %}

    <form method="post" class="pure-form pure-form-stacked">
        {{ render_field(form.name) }}
        {{ render_field(form.department) }}
        {{ render_field(form.birth_date, type='date') }}
        {{ render_field(form.salary) }}
        {{ form.submit(class='pure-button pure-button-primary') }}
        {{ form.hidden_tag() }}
    </form>
{% endblock %}