{% extends "base.html" %}

{% from 'helpers.html' import render_field %}

{% block title %}Employees{% endblock %}

{% block content %}
    {{ super() }}

    {% if add_form %}
        <form method="post" class="pure-form pure-form-stacked">
            {{ render_field(add_form.name) }}
            {{ render_field(add_form.department) }}
            {{ render_field(add_form.birth_date, type='date') }}
            {{ render_field(add_form.salary) }}
            {{ add_form.submit(value='Add') }}
            {{ add_form.hidden_tag() }}
        </form>
    {% endif %}

    {% if filter_form %}
        <form method="post" class="pure-form">
            {{ render_field(filter_form.from_, type='date') }}
            {{ render_field(filter_form.to_, type='date') }}
            {{ filter_form.filter() }}
            {{ filter_form.hidden_tag() }}
        </form>
    {% endif %}

    {% if employees %}
        <table class="pure-table pure-table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Salary</th>
                    <th>Birth Date</th>
                </tr>
            </thead>
            <tbody>
                {% for emp in employees %}
                    <tr>
                        <td><a href='{{ url_for('employee', employee_id=emp.id) }}'>{{ emp.name }}</a></td>
                        <td><a href='{{ url_for('department', department_id=emp.department_id) }}'>{{ emp.department_id }}</a></td>
                        <td>{{ emp.salary }}</td>
                        <td>{{ emp.date_of_birth }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}