{% extends "base.html" %}

{% from 'helpers.html' import render_field %}

{% block title %}Departments{% endblock %}

{% block content %}
    {{ super() }}

    {% if add_department_form %}
        <form method="post" class="pure-form pure-form-stacked">
            {{ render_field(add_department_form.title) }}
            {{ render_field(add_department_form.employees) }}
            {{ render_field(add_department_form.submit, value='Add') }}
            {{ add_department_form.hidden_tag() }}
        </form>
    {% endif %}


    {% if departments %}
        <table class="pure-table pure-table-bordered">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Avg Salary</th>
                </tr>
            </thead>
            <tbody>
                {% for dep, avg in zip(departments, salaries) %}
                    <tr>
                        <td><a href='{{ url_for('department', department_id=dep.id) }}'>{{ dep.title }}</a></td>
                        <td>{{ avg }}</td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    {% endif %}
{% endblock %}