{% extends "base.html" %}
{% block title %}Department{% endblock %}

{% block content %}
    {{ super() }}
    <h2>{{ department.title }}</h2>
    <a href="{{ url_for("department_edit", dep_id=id) }}">Edit</a>

    <h3>Employees</h3>
    <table class="pure-table pure-table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Salary</th>
                <th>Birth Date</th>
            </tr>
        </thead>
        <tbody>
            {% for emp in department.employees %}
                <tr>
                    <td><a href="{{ url_for("employee", employee_id=emp.id) }}">{{ emp.name }}</a></td>
                    <td>{{ emp.salary }}</td>
                    <td>{{ emp.date_of_birth }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}