{% extends "base.html" %}

{% from 'helpers.html' import render_field %}

{% block title %}Edit Department{% endblock %}

{% block content %}
    {{ super() }}
    <a href="{{ url_for("department", department_id=id) }}">Back</a>

    {% if department %}
        <p>{{ department.title }}</p>
    {% endif %}

    <form method="post" class="pure-form pure-form-stacked">
        {{ render_field(form.title) }}
        {{ render_field(form.employees) }}
        {{ render_field(form.submit, class="pure-button pure-button-primary") }}
        {{ form.hidden_tag() }}
    </form>

{% endblock %}