html {
    background: #DDECEE;
}

header {
    width: 100%;

    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #485F6E;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header li {
    display: inline;
}

header a {
    float: left;
    color: #ffffff;
    background-color: #485F6E;
    text-align: center;
    text-decoration: none;
    padding: 15px;
}

header a:hover {
    background-color: #86989B;
    color: black;
}

.current a {
    color: #cccccc;
    background-color: #000000;
}

.content {
    margin-top: 10%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    height: 10%;

    position: fixed;
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #485F6E;
}
